body {
  font-family: -apple-system, Serif, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 24px;
  line-height: 1.5;
  color: red;
  text-shadow: -1px -1px black;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

img{
  border: 4px dashed orange;
}
